* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: "Helvetica"; }

header {
  background-color: #3e2f51;
  overflow: hidden;
  position: fixed;
  width: 100%; }
  header a.logo {
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
    letter-spacing: 0.2rem;
    font-weight: 300; }
  header .container {
    justify-content: space-between;
    display: flex;
    min-height: 62px; }
    header .container nav {
      min-width: 40%;
      text-align: center; }
      header .container nav ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 46.86px; }
        header .container nav ul li {
          list-style: none; }
          header .container nav ul li .nav-icons {
            width: 50%; }
    header .container .right-bar {
      width: 46.86px; }

#about, #experience, #projects, #contact {
  min-height: 100vh;
  padding: 60px 30px 0 30px; }
  #about h1, #about p, #experience h1, #experience p, #projects h1, #projects p, #contact h1, #contact p {
    letter-spacing: 0.1rem;
    font-weight: 100; }
  #about h1, #experience h1, #projects h1, #contact h1 {
    text-align: center;
    text-transform: uppercase; }
  #about p, #experience p, #projects p, #contact p {
    text-align: justify; }

#home {
  letter-spacing: 0.1rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  height: 100vh;
  color: #fff;
  background-color: #3e2f51; }
  #home div {
    flex-direction: column;
    display: flex;
    justify-content: center; }
    #home div .border {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 1px solid #fff;
      height: 200px;
      min-width: 50%;
      margin-top: 100px;
      padding: 60px; }
      #home div .border h1 {
        font-size: 30px;
        margin: 0;
        font-weight: 400; }
      #home div .border h1, #home div .border h2, #home div .border p {
        letter-spacing: 0.5rem; }
      #home div .border h2 {
        font-weight: 100;
        font-size: 15px; }
      #home div .border .break {
        width: 400px; }
    #home div .line {
      border-right: 1px solid #fff;
      height: 500px;
      margin-right: 50%; }

#about .about-section {
  justify-content: space-around;
  display: flex;
  color: #3e2f51; }
  #about .about-section .bete {
    border-radius: 50%;
    height: 200px; }
  #about .about-section .about-paragraph {
    max-width: 603px;
    padding: 0 20px 20px 20px;
    border-right: 1px solid #3e2f51;
    height: 100vh; }
    #about .about-section .about-paragraph h1 {
      font-size: 30px;
      font-weight: 400;
      border: 3px solid #3e2f51;
      padding: 20px;
      max-width: 200px; }
  #about .about-section .icons {
    max-width: 500px; }
    #about .about-section .icons .devicon {
      font-size: 3rem; }

#experience .experience-section {
  justify-content: center;
  display: flex;
  padding: 0 30px 30px 30px; }
  #experience .experience-section div {
    min-width: 33%; }
    #experience .experience-section div .logo-div {
      justify-content: center;
      display: flex; }
  #experience .experience-section .logos {
    height: 75px; }

#projects .project-section div {
  display: flex;
  justify-content: space-around;
  padding: 0 30px 30px 30px; }
  #projects .project-section div img {
    height: 300px;
    object-fit: cover; }
  #projects .project-section div p {
    max-width: 500px;
    padding: 0 20px 20px 20px;
    margin: 0; }

@media only screen and (max-width: 600px) {
  .container {
    min-height: 62px; }
    .container nav {
      display: none;
      width: 65% !important;
      text-align: center; }
      .container nav ul {
        display: inline-table !important; }
    .container .burger {
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin-right: 20px; }
      .container .burger .bar1, .container .burger .bar2, .container .burger .bar3 {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 2px;
        transition: 0.4s; }
    .container .burger:hover {
      cursor: pointer; }

  .about-section {
    flex-direction: column;
    display: flex; }
    .about-section .about-image-div {
      justify-content: center;
      display: flex; }
    .about-section .about-paragraph {
      border: none !important; }
    .about-section .icons {
      text-align: center; }

  .experience-section {
    flex-direction: column;
    display: flex; }

  .project-section div {
    flex-direction: column;
    display: flex; }
    .project-section div img {
      max-height: 200px; } }
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .project-section div {
    flex-direction: column;
    display: flex; }
    .project-section div img {
      max-height: 200px; } }

/*# sourceMappingURL=style.css.map */
