* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: "Helvetica"; }

header {
  background-color: #000;
  overflow: hidden;
  position: fixed;
  width: 100%; }
  header a.logo {
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
    letter-spacing: 0.2rem;
    font-weight: 300; }
  header .container {
    justify-content: space-between;
    display: flex; }
    header .container nav {
      width: 40%; }
      header .container nav ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        header .container nav ul li {
          list-style: none; }
          header .container nav ul li .nav-icons {
            width: 50%; }
          header .container nav ul li .nav-icons:hover:after {
            cursor: pointer;
            content: 'HOME'; }
          header .container nav ul li .nav-icons::before {
            content: url("./assets/home2.png"); }

#about, #experience, #projects, #contact {
  min-height: 100vh;
  padding-top: 60px; }
  #about h1, #about p, #experience h1, #experience p, #projects h1, #projects p, #contact h1, #contact p {
    letter-spacing: 0.1rem;
    font-weight: 100; }
  #about h1, #experience h1, #projects h1, #contact h1 {
    text-align: center;
    text-transform: uppercase; }

#home {
  letter-spacing: 0.1rem;
  font-weight: 100;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh; }
  #home h1 {
    font-size: 75px;
    margin: 0;
    font-family: 'Lobster', cursive; }
  #home h1, #home h2, #home p {
    font-weight: 100;
    letter-spacing: 0.8rem; }
  #home .break {
    width: 500px; }

#about .about-section {
  justify-content: space-around;
  display: flex; }
  #about .about-section .bete {
    border-radius: 50%;
    height: 200px; }
  #about .about-section .about-paragraph {
    max-width: 500px;
    padding: 0 20px 20px 20px; }
  #about .about-section .icons {
    max-width: 500px; }
    #about .about-section .icons .devicon {
      font-size: 3rem; }

#experience .experience-section {
  justify-content: center;
  display: flex;
  padding: 0 30px 30px 30px; }
  #experience .experience-section div {
    min-width: 33%; }
    #experience .experience-section div .logo-div {
      justify-content: center;
      display: flex; }
  #experience .experience-section .logos {
    height: 75px; }

@media only screen and (max-width: 600px) {
  .burger {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-right: 20px; }
    .burger .bar1, .burger .bar2, .burger .bar3 {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 2px;
      transition: 0.4s; }

  .burger:hover {
    cursor: pointer; }

  .container {
    height: 62px; }
    .container nav {
      display: none;
      width: 65% !important;
      text-align: center; }

  .about-section {
    flex-direction: column;
    display: flex; }
    .about-section .about-image-div {
      justify-content: center;
      display: flex; }
    .about-section .icons {
      text-align: center; }

  .experience-section {
    flex-direction: column;
    display: flex; } }

/*# sourceMappingURL=style.css.map */
