* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: "Helvetica"; }

main {
  scroll-snap-type: mandatory; }
  main section {
    scroll-snap-align: start; }

header {
  background-color: #393344;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  width: 100%; }
  header a.logo {
    color: #FFF;
    display: flex;
    align-items: center;
    padding-left: 20px;
    letter-spacing: 0.2rem;
    font-weight: 300; }
  header .container {
    justify-content: center;
    display: flex;
    min-height: 62px; }
    header .container nav {
      min-width: 40%;
      text-align: center;
      align-self: center; }
      header .container nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        header .container nav ul li {
          list-style: none; }
          header .container nav ul li .nav-texts {
            margin: 0;
            text-decoration: none;
            color: #FFF;
            letter-spacing: 0.1rem;
            font-weight: 100;
            animation: fadein 0.5s;
            font-size: 10px; }
          header .container nav ul li .nav-icons {
            width: 50%; }
    header .container .right-bar {
      width: 46.86px; }

#experience, #projects {
  padding: 60px 30px 0 30px; }

#about, #experience {
  min-height: 100vh; }
  #about h1, #experience h1 {
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase; }
  #about p, #experience p {
    text-align: justify; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  animation: fadein 2s; }

#home {
  letter-spacing: 0.1rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  height: 100vh;
  color: #FFF;
  background-color: #393344;
  font-family: 'Open Sans', sans-serif; }
  #home div {
    flex-direction: column;
    display: flex;
    justify-content: center; }
    #home div .border {
      margin-top: 50%;
      padding: 60px 60px 20px 60px; }
      #home div .border h1 {
        font-size: 40px;
        margin: 0;
        font-weight: 400; }
      #home div .border h1, #home div .border h2, #home div .border p {
        letter-spacing: 0.5rem; }
      #home div .border h2 {
        font-weight: 100;
        font-size: 15px; }
      #home div .border .break {
        width: 400px; }
    #home div .arrow {
      min-height: 20px;
      border-bottom: 3px solid #FFF;
      border-right: 3px solid #FFF;
      width: 20px;
      transform: rotate(45deg);
      margin-left: 47.9%;
      display: none;
      animation: fadein 2s; }
    #home div .line {
      border-right: 1px solid #FFF;
      min-height: 300px;
      max-height: 300px;
      margin-right: 50%;
      margin-top: 15px; }

@keyframes moveWords {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
@keyframes mover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }
@keyframes fadeinAbout {
  from {
    opacity: 0.3; }
  to {
    opacity: 1; } }
.move {
  transition: 6s;
  transition-timing-function: ease-in-out; }

#about .about-section {
  justify-content: space-around;
  display: flex;
  color: #393344; }
  #about .about-section .bete {
    border-radius: 50%;
    height: 200px; }
  #about .about-section .about-paragraph {
    padding: 0px 20px 20px 20px;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-weight: 100; }
    #about .about-section .about-paragraph h1 {
      font-size: 20px;
      font-weight: 100;
      border: 1px solid #393344;
      padding: 20px;
      max-width: 200px;
      text-transform: uppercase; }
  #about .about-section .skills-container {
    align-items: flex-end;
    justify-content: flex-end;
    display: none;
    color: #393344;
    background-color: #1C1C1C;
    min-width: 50%; }
    #about .about-section .skills-container p {
      margin: 0; }
    #about .about-section .skills-container .wrapper {
      transform: translate(13%, -83%); }
    #about .about-section .skills-container .skills-arrow {
      border-bottom: 5px solid #393344;
      border-right: 5px solid #393344;
      height: 20px;
      width: 20px;
      transform: rotate(-45deg);
      margin: 60px; }
    #about .about-section .skills-container .skills-arrow:hover {
      cursor: pointer; }
    #about .about-section .skills-container .text {
      margin: 0;
      font-size: 60px;
      text-align: left;
      text-transform: uppercase;
      font-weight: 800;
      text-align: center; }
      #about .about-section .skills-container .text .line {
        overflow: hidden;
        white-space: nowrap;
        height: 70px;
        line-height: .9; }
        #about .about-section .skills-container .text .line:first-child + .line {
          margin-left: 75px; }
          #about .about-section .skills-container .text .line:first-child + .line + .line {
            margin-left: 150px; }
          #about .about-section .skills-container .text .line:first-child + .line + .line {
            margin-left: 150px; }
        #about .about-section .skills-container .text .line > p {
          margin: 0;
          height: 70px;
          overflow: hidden;
          font-size: 1em;
          line-height: .9;
          white-space: nowrap;
          animation: moveWords 20s infinite ease; }
      #about .about-section .skills-container .text .line:nth-child(odd) {
        transform: skew(60deg, -30deg) scaleY(0.66667); }
      #about .about-section .skills-container .text .line:nth-child(even) {
        transform: skew(0deg, -30deg) scaleY(1.33333); }
  #about .about-section .icons-container {
    overflow: hidden;
    display: flex;
    color: #393344;
    background-color: #1C1C1C;
    min-width: 50%;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: center;
    position: relative; }
    #about .about-section .icons-container .icons {
      animation: large 5s linear infinite;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 0.1rem;
      margin-right: 15%; }
    #about .about-section .icons-container p {
      position: absolute; }
    #about .about-section .icons-container p:hover {
      transform: scale(1.5);
      cursor: pointer; }
    #about .about-section .icons-container .icons-arrow {
      border-bottom: 5px solid #393344;
      border-right: 5px solid #393344;
      height: 20px;
      width: 20px;
      transform: rotate(-45deg);
      margin: 60px; }
    #about .about-section .icons-container .icons-arrow:hover {
      cursor: pointer; }

#experience {
  background-color: #393344;
  color: #FFF; }
  #experience h1 {
    font-size: 20px;
    font-weight: 100;
    border: 1px solid #FFF;
    padding: 20px;
    max-width: 270px; }
  #experience h3 {
    font-size: 17px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 0.1rem; }
  #experience p {
    font-size: 14px;
    text-align: left;
    font-weight: 100;
    letter-spacing: 0.1rem; }
  #experience .experience-section {
    margin: 70px 100px 0 100px;
    justify-content: center;
    display: flex; }
    #experience .experience-section div {
      min-width: 33%;
      padding: 0 10px; }
      #experience .experience-section div .logo-div {
        justify-content: center;
        display: flex; }
    #experience .experience-section .logos {
      height: 75px; }

.transition {
  transition: all 0.5s ease; }

#projects {
  scroll-snap-type: x mandatory;
  padding: 0;
  display: flex;
  overflow-x: auto;
  background-color: #1C1C1C; }
  #projects h1, #projects h3 {
    font-weight: 600; }
  #projects h1 {
    font-size: 20px;
    border: 1px solid #393344;
    padding: 20px;
    max-width: 200px; }
  #projects h3 {
    text-transform: uppercase; }
  #projects .project-section {
    scroll-snap-align: start;
    display: flex;
    color: #393344; }
    #projects .project-section .project-border {
      border-left: 1px solid #393344; }
    #projects .project-section .project-paragraph {
      color: #FFF;
      font-weight: 100;
      letter-spacing: 0.1rem;
      font-size: smaller;
      padding: 0 40px;
      justify-content: center;
      height: 70vh;
      width: 700px;
      display: flex;
      flex-direction: column; }
      #projects .project-section .project-paragraph p {
        align-items: center;
        display: flex; }
      #projects .project-section .project-paragraph .technologies {
        display: flex;
        flex-wrap: wrap; }
        #projects .project-section .project-paragraph .technologies p {
          padding: 10px;
          margin: 0; }
      #projects .project-section .project-paragraph div {
        justify-content: center;
        display: flex; }
        #projects .project-section .project-paragraph div .buttons {
          font-size: 13.5px;
          letter-spacing: 0.1rem;
          color: #FFF;
          font-weight: 100;
          background-color: #393344;
          padding: 10px;
          width: 100px;
          margin: 10px;
          border: 1px solid #393344;
          align-items: center;
          display: flex;
          justify-content: center; }
        #projects .project-section .project-paragraph div .buttons:hover {
          background-color: #FFF;
          color: #393344;
          cursor: pointer; }
        #projects .project-section .project-paragraph div img {
          height: 30px; }
    #projects .project-section .project-image {
      background-color: #1C1C1C;
      align-items: center;
      display: flex;
      width: 700px;
      height: 70vh; }
      #projects .project-section .project-image img {
        height: 260px;
        margin: 0;
        object-fit: cover; }
      #projects .project-section .project-image .small-images {
        justify-content: center;
        display: flex;
        flex-direction: column; }
        #projects .project-section .project-image .small-images .overlay {
          background-color: black;
          height: 75px;
          width: 75px;
          margin: .75rem; }
          #projects .project-section .project-image .small-images .overlay img {
            height: 75px;
            width: 75px;
            object-fit: cover;
            opacity: 0.2; }
        #projects .project-section .project-image .small-images img:hover {
          cursor: pointer;
          transform: scale(1.05);
          opacity: 1; }

#projects::-webkit-scrollbar {
  -webkit-appearance: none; }

#projects::-webkit-scrollbar:horizontal {
  height: 11px; }

#projects::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }

#contact {
  min-height: 35vh;
  color: #FFF;
  background-color: #393344;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; }
  #contact h1 {
    font-size: 20px;
    font-weight: 100;
    border: 1px solid #FFF;
    padding: 20px;
    max-width: 200px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center; }
  #contact div {
    align-items: center;
    display: flex;
    padding-right: 10px; }
    #contact div a:nth-child(1) img, #contact div a:nth-child(2) img {
      height: 60px; }
    #contact div a:nth-child(3) img {
      height: 40px;
      padding-left: 10px; }
    #contact div img:hover {
      cursor: pointer;
      transform: scale(1.2); }

@media only screen and (max-width: 600px) {
  .container {
    min-height: 62px;
    justify-content: flex-end !important;
    display: flex; }
    .container nav#nav-links {
      display: none;
      text-align: center;
      flex-grow: 1 !important;
      padding-left: 20px; }
      .container nav#nav-links ul {
        display: inline-table !important;
        margin-right: 0 !important; }
        .container nav#nav-links ul li {
          padding-bottom: 5px; }
    .container .burger {
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin-right: 20px; }
      .container .burger .bar1, .container .burger .bar2, .container .burger .bar3 {
        width: 25px;
        height: 3px;
        background-color: #FFF;
        margin: 2px;
        transition: 0.4s; }
    .container .burger:hover {
      cursor: pointer; }

  .about-section {
    flex-direction: column;
    display: flex;
    padding-top: 20px; }
    .about-section .about-image-div {
      justify-content: center;
      display: flex; }
    .about-section .about-paragraph {
      border: none !important; }
    .about-section .icons {
      text-align: center; }

  .experience-section {
    flex-direction: column;
    display: flex;
    margin: 0 !important; }

  .project-section .project-image .small-images {
    display: flex;
    flex-direction: row; } }
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .project-section div {
    flex-direction: column;
    display: flex; }
    .project-section div img {
      max-height: 200px; } }

/*# sourceMappingURL=style.css.map */
