$black: #000;
$bright-purple: #CBA0F3;
$main-purple: #393344;
$dark-purple: #2b2635;
$main-grey: #1C1C1C;
$white: #FFF;

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
 }

body {
  margin: 0;
  font-family: "Helvetica";
}

main {
  scroll-snap-type: mandatory;
  section {
    scroll-snap-align: start;
  }
}

//========NAVBAR==========//

header {
  background-color:$main-purple;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  width: 100%;
  a.logo {
    color: $white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    letter-spacing: 0.2rem;
    font-weight: 300;
  }
  .container {
    justify-content: center;
    display: flex;
    min-height: 62px;
    nav {
      min-width: 40%;
      text-align: center;
      align-self: center;
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
          list-style: none;
          .nav-texts {
            margin: 0;
            text-decoration: none;
            color: $white;
            letter-spacing: 0.1rem;
            font-weight: 100;
            animation: fadein 0.5s;
            font-size: 10px;
          }
          .nav-icons {
            width: 50%;
          }
          // a:before {
          //   content: "";
          //   background: url("icon-external.jpg") no-repeat top right;
          // }
          // img:hover {
          //   display: none;
          //   content: 'HOME';
          // }
          // a:active {
          //   background-color: $bright-purple;
          // }
        }
      }
    }
    .right-bar {
      width: 46.86px;
    }
  }
}

#experience, #projects {
   padding: 60px 30px 0 30px;
 }

#about, #experience {
  min-height: 100vh;
  h1 {
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    text-align: justify;
  }
}

//=========HOME=========//
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    // 0%   {border-color: $white}
    // 50%   {border-color: $bright-purple}
    // 100%   {border-color: $white}
}

.fadeIn {
  animation: fadein 2s;
}

#home {
  // background-image: linear-gradient(to bottom right, rgb(57, 51, 68), rgba(0, 0, 0, .8)), url('https://www.newgenapps.com/hubfs/canvas/images/parallax/Website-Design-Background.png');
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  letter-spacing: 0.1rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  // flex-direction: column;
  justify-content: center;
  display: flex;
  height: 100vh;
  color: $white;
  background-color: $main-purple;
  font-family: 'Open Sans', sans-serif;
  div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    .border {
      margin-top: 50%;
      padding: 60px 60px 20px 60px;
      h1 {
        font-size: 40px;
        margin: 0;
        font-weight: 400;
      }
      h1, h2, p {
        letter-spacing: 0.5rem;
      }
      h2 {
        font-weight: 100;
        font-size: 15px;
      }
      .break {
        width: 400px;
      }
    }
    .arrow {
      min-height: 20px;
      border-bottom: 3px solid $white;
      border-right: 3px solid $white;
      width: 20px;
      transform: rotate(45deg);
      margin-left: 47.9%;
      display: none;
      animation: fadein 2s;
    }
    .line {
      border-right: 1px solid $white;
      min-height: 300px;
      max-height: 300px;
      margin-right: 50%;
      margin-top: 15px;
    }
  }
}
//========ABOUT=======//

@keyframes moveWords {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes fadeinAbout {
    from { opacity: 0.3; }
    to   { opacity: 1; }
}

.move {
  // -webkit-transition: 3s;
  // -moz-transition: 3s;
  // -ms-transition: 3s;
  // -o-transition: 3s;
  transition: 6s;
  transition-timing-function: ease-in-out;
}

#about {
  .about-section {
    justify-content: space-around;
    display: flex;
    color: $main-purple;
    .bete {
      border-radius: 50%;
      height: 200px;
    }
    .about-paragraph {
      padding: 0px 20px 20px 20px;
      height: 100vh;
      justify-content: center;
      display: flex;
      flex-direction: column;
      font-weight: 100;
      h1 {
        font-size: 20px;
        font-weight: 100;
        border: 1px solid $main-purple;
        padding: 20px;
        max-width: 200px;
        text-transform: uppercase;
      }
    }
    .skills-container {
      align-items: flex-end;
      justify-content: flex-end;
      display: none;
      color: $main-purple;
      background-color: $main-grey;
      min-width: 50%;
      p {
        margin: 0;
      }
      .wrapper {
        transform: translate(13%, -83%);
        }
        .skills-arrow {
          border-bottom: 5px solid $main-purple;
          border-right: 5px solid $main-purple;
          height: 20px;
          width: 20px;
          transform: rotate(-45deg);
          margin: 60px;
        }
        .skills-arrow:hover {
          cursor: pointer;
        }
        .text {
          // animation: fadeinAbout 2s;
        	margin: 0;
        	font-size: 60px;
        	text-align: left;
        	text-transform: uppercase;
          font-weight: 800;
        	text-align: center;
        	.line {
        		overflow: hidden;
            white-space: nowrap;
            height: 70px;
        		line-height: .9;
        		&:first-child {
        			& + .line {
        				margin-left: 75px;
        				&+ .line {
        					margin-left: 150px;
        				}
        					&+ .line {
        					margin-left: 150px;
        				}
        			}
        		}
        		> p {
        			margin: 0;
        			height: 70px;
        			overflow: hidden;
        			font-size: 1em;
        			line-height: .9;
        			white-space: nowrap;
        			animation: moveWords 20s infinite ease;
        		}
        	}
        	.line:nth-child(odd) {
        		transform: skew(60deg,-30deg) scaleY(.66667);
        	}
        	.line:nth-child(even) {
        		transform: skew(0deg,-30deg) scaleY(1.33333);
        	}
        }
    }
    .icons-container {
      overflow: hidden;
      display: flex;
      color: $main-purple;
      background-color: $main-grey;
      min-width: 50%;
      align-items: flex-end;
      justify-content: flex-end;
      text-align: center;
      position: relative;
      .icons {
        animation: large 5s linear infinite;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 0.1rem;
        margin-right: 15%;
      }
      p {
        position: absolute;
      }
      p:hover {
        transform: scale(1.5);
        cursor: pointer;
      }
      .icons-arrow {
        border-bottom: 5px solid $main-purple;
        border-right: 5px solid $main-purple;
        height: 20px;
        width: 20px;
        transform: rotate(-45deg);
        margin: 60px;
      }
      .icons-arrow:hover {
        cursor: pointer;
      }
    }
  }
}

//===========EXPERIENCE===========//

#experience {
  background-color: $main-purple;
  color: $white;
  h1 {
    font-size: 20px;
    font-weight: 100;
    border: 1px solid $white;
    padding: 20px;
    max-width: 270px;
  }
  h3 {
    font-size: 17px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 0.1rem;
  }
  p {
    font-size: 14px;
    text-align: left;
    font-weight: 100;
    letter-spacing: 0.1rem;
  }
  .experience-section {
    margin: 70px 100px 0 100px;
    justify-content: center;
    display: flex;
    div {
      min-width: 33%;
      padding: 0 10px;
      .logo-div {
        justify-content: center;
        display: flex;
      }
    }
    .logos {
      height: 75px;
    }
  }
}

//===========PROJECTS===========//

.transition {
  transition: all 0.5s ease;
}

#projects {
  scroll-snap-type: x mandatory;
  padding: 0;
  display: flex;
  overflow-x: auto;
  background-color: $main-grey;

  h1, h3 {
    font-weight: 600;
  }
  h1 {
    font-size: 20px;
    border: 1px solid $main-purple;
    padding: 20px;
    // margin: 40px;
    max-width: 200px;
  }
  h3 {
    text-transform: uppercase;
  }
  .project-section {
    scroll-snap-align: start;
    display: flex;
    color: $main-purple;
  .project-border {
    border-left: 1px solid $main-purple;
  }
  .project-paragraph {
    color: $white;
    font-weight: 100;
    letter-spacing: 0.1rem;
    font-size: smaller;
    padding: 0 40px;
    justify-content: center;
    height: 70vh;
    width: 700px;
    display: flex;
    flex-direction: column;
    p {
      align-items: center;
      display: flex;
    }
    .technologies {
      display: flex;
      flex-wrap: wrap;
      p {
        padding: 10px;
        margin: 0;
      }
    }
    div {
      justify-content: center;
      display: flex;
      .buttons {
        font-size: 13.5px;
        letter-spacing: 0.1rem;
        color: $white;
        font-weight: 100;
        background-color: $main-purple;
        padding: 10px;
        width: 100px;
        margin: 10px;
        border: 1px solid $main-purple;
        align-items: center;
        display: flex;
        justify-content: center;
        // background-color: $main-purple;
      }
      .buttons:hover {
        background-color: $white;
        color: $main-purple;
        cursor: pointer;
      }
      img {
        height: 30px;
      }
    }
  }
  .project-image {
    background-color: $main-grey;
    // justify-content: center;
    align-items: center;
    display: flex;
    width: 700px;
    height: 70vh;
    img {
      height: 260px;
      margin: 0;
      object-fit: cover;
      }
    .small-images {
      justify-content: center;
      display: flex;
      flex-direction: column;
      .overlay {
        background-color: black;
        height: 75px;
        width: 75px;
        margin: .75rem;
        img {
          height: 75px;
          width: 75px;
          object-fit: cover;
          opacity: 0.2;
        }
      }
      img:hover {
        cursor: pointer;
        transform: scale(1.05);
        opacity: 1;
        }
      }
    }
  }
}
#projects::-webkit-scrollbar {
  -webkit-appearance: none;
}

#projects::-webkit-scrollbar:horizontal {
    height: 11px;
}

#projects::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255,255,255,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#contact {
  min-height: 35vh;
  color: $white;
  background-color: $main-purple;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 20px;
    font-weight: 100;
    border: 1px solid $white;
    padding: 20px;
    max-width: 200px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  div {
    align-items: center;
    display: flex;
    padding-right: 10px;
    a:nth-child(1), a:nth-child(2) {
      img {
        height: 60px;
      }
    }
    a:nth-child(3) {
      img {
        height: 40px;
        padding-left: 10px;
      }
    }
    img:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

@media only screen and (max-width: 600px) {
  // #home, #about {
  //   padding-top: 40px;
  // }
  .container {
    min-height: 62px;
    justify-content: flex-end !important;
    display: flex;
    nav#nav-links {
      display: none;
      text-align: center;
      flex-grow: 1 !important;
      padding-left: 20px;
      ul {
        display: inline-table !important;
        margin-right: 0 !important;
        li {
          padding-bottom: 5px;
        }
      }
    }
  .burger {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    .bar1, .bar2, .bar3 {
      width: 25px;
      height: 3px;
      background-color: $white;
      margin: 2px;
      transition: 0.4s;
    }
  }
    .burger:hover {
      cursor: pointer;
    }
  }
  .about-section {
    flex-direction: column;
    display: flex;
    padding-top: 20px;
    .about-image-div {
      justify-content: center;
      display: flex;
    }
    .about-paragraph {
      border: none !important;
    }
    .icons {
      text-align : center;
    }
  }
  .experience-section {
    flex-direction: column;
    display: flex;
    margin: 0 !important;
  }
  .project-section {
    .project-image {
      .small-images {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (orientation : landscape) {
  .project-section {
    div {
      flex-direction: column;
      display: flex;
      img {
        max-height: 200px;
      }
    }
  }
}
