$black: #000;
$bright-purple: #CBA0F3;
$white: #fff;

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
 }

body {
  margin: 0;
  font-family: "Helvetica";
}

//========NAVBAR==========//

header {
  background-color:$black;
  overflow: hidden;
  position: fixed;
  width: 100%;
  a.logo {
    color: $white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    letter-spacing: 0.2rem;
    font-weight: 300;
  }
  .container {
    justify-content: space-between;
    display: flex;
    nav {
      width: 40%;
      ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
          list-style: none;
          .nav-icons {
            width: 50%;
          }
          .nav-icons:hover:after {
            cursor: pointer;
            content: 'HOME';
          }
          .nav-icons::before {
            content: url('./assets/home2.png')
          }
        }
      }
    }
    .right-bar {
      width: 46.86px;
    }
  }
}

#about, #skills, #projects, #contact {
  height: 100vh;
  padding-top: 60px;
  h1, p{
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: 100;
  }
  h1 {
    text-transform: uppercase;
  }
}

//=========HOME=========//

#home {
  letter-spacing: 0.1rem;
  font-weight: 100;
  text-align: center;
  // text-transform: uppercase;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  h1 {
    font-size: 75px;
    margin: 0;
    font-family: 'Lobster', cursive;
  }
  h1, h2, p {
    font-weight: 100;
    letter-spacing: 0.8rem;
  }
  .break {
    width: 500px;
  }
}

//========ABOUT=======//
//

#about {
  .about-section{
    justify-content: space-around;
    display: flex;
    .bete {
      border-radius: 50%;
      height: 200px;
    }
    .about-paragraph {
      max-width: 500px;
    }
  }
}

#skills {
  .devicon {
    font-size: 3rem;
  }
}

#projects {

}

#contact {

}

@media only screen and (max-width: 600px) {
  // .nav-icons {
  //   display: none;
  // }
  .about-section {
    flex-direction: column;
    display: flex;
    flex: wrap;
    .about-image-div {
      justify-content: center;
      display: flex;
    }
    .about-paragraph {
      // width: 300px;
    }
  }
}
