$black: #000;
$bright-purple: #CBA0F3;
$white: #fff;

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
 }

body {
  margin: 0;
  font-family: "Helvetica";
}

//========NAVBAR==========//

header {
  background-color:$black;
  overflow: hidden;
  position: fixed;
  width: 100%;
  a.logo {
    color: $white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    letter-spacing: 0.2rem;
    font-weight: 300;
  }
  .container {
    justify-content: space-between;
    display: flex;
    nav {
      width: 40%;
      ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        li {
          list-style: none;
          .nav-icons {
            width: 50%;
          }
          .nav-icons:hover {
            cursor: pointer;
          }
        }
      }
    }
    .right-bar {
      width: 46.86px;
    }
  }
}

//=========HOME=========//

#home {
  letter-spacing: 0.1rem;
  font-weight: 100;
  text-align: center;
  // text-transform: uppercase;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  h1 {
    font-size: 75px;
    margin: 0;
    font-family: 'Lobster', cursive;
  }
  h1, h2, p {
    font-weight: 100;
    letter-spacing: 0.8rem;
  }
  .break {
    width: 500px;
  }
}

//========PROFILE=======//
//
#about {
  height: 100vh;
  .bete {

  }
}

#skills {
  height: 100vh;
}

#projects {
  height: 100vh;
}

#contact {
  height: 100vh;
}

@media only screen and (max-width: 600px) {

}
